/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');


:root {
  /* change the values below to your colors from your palette */
  --primary-color: #f4d504   ;
  --secondary-color:#87ae73 ;
  --accent1-color: #67597A;
  --accent2-color: #BBB5BD;

  /* change the values below to your chosen font(s) */
  --heading-font: font-family: 'Tahoma', sans-serif;
  --paragraph-font: font-family "Gill sans", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #f4d504;  /* headlines on a white background */ 
  --headline-color-on-color: #f4d504; /* headlines on a colored background */ 
  --paragraph-color-on-white: #f4d504; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #f4d504  ;
  --nav-link-color: #6a9720;
  --nav-background-color: #f4d504;
  --nav-hover-link-color: black;
  --nav-hover-background-color: rgb(216, 212, 1);
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
#content {
  max-width: 100%;
  margin: 0 auto;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--nav-link-color);
  border-radius: 15px;
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  font: Georgia;

}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
header {
  margin-bottom: 50px;
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  color: black;
}
.navigationlinks {
  width: 98%;
  padding: 10px;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  color: black;
  border-radius: 5px; 
}

nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  color: black;
  min-width: 120px;
  text-decoration: none;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  border-radius: 20px;
}
#homehero {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;
  margin: 0 auto;
  text-emphasis: 10px;
  border-radius: 15px;
} 
#hero {
	position: relative;
  display: flex;
	margin: 0 auto;
	width: 500px;
	height: 250px;
	background: #6a9720;
  vertical-align: middle;
  margin: auto;
  border-radius: 15px;
  color: black;
  font-size: 30px;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#hero h1 {
  margin: auto;
  margin: 0 auto;
  
  
}


#hero:before, #hero:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #6a9720, #6a9720, #f4d504,#f4d504, #6a9720, #6a9720, 
		#f4d504, #f4d504,#6a9720, #6a9720);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
  border-radius: 15px;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

#hero:after {
	filter: blur(50px);
}
.hero {
  border-radius: 15px;
  border:#6a9720;
  border-style:outset;
  border-color :#6a9720;
  border-radius: 15px;
  border-width: 10px;
}
h1 p {
  padding-bottom: 30px;
  background-color: #6a9720;
  border-radius: 15px;
  font-size: xx-large;
  justify-content: space-evenly;
  margin-bottom: 100px;
  border: 10px outset #8eae40;
}
#church {
  display:block;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background: #6a9720;
  padding-bottom: 30px;
  background-color: #6a9720;
  border-radius: 15px;
  font-size: xx-large;
  justify-content: space-evenly;
  margin-bottom: 100px;
  background: #6a9720;
  font-family: Montserrat, sans-serif;;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #f4d504;
  padding: 40px;
  box-shadow:
	  inset #6a9720 0 0 0 5px, 
    inset #6a9720 0 0 0 1px, 
    inset #f4d504 0 0 0 10px, 
    inset #f4d504 0 0 0 11px, 
    inset #f4d504 0 0 0 16px, 
    inset #6a9720 0 0 0 17px, 
    inset #6a9720 0 0 0 21px, 

  text-shadow: 3px 3px 1px #8b8b8b;
  text-decoration: none;
}
.church {
  text-decoration: none;
  color: #4c4c4c;
}
main p {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6a9720;
  padding-bottom: 30px;
  background-color: #6a9720;
  border-radius: 15px;
  font-size: xx-large;
  justify-content: space-evenly;
  margin-bottom: 100px;
  background: #6a9720;
  font-family: Montserrat, sans-serif;;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #f4d504;
  padding: 40px;
  box-shadow:
	  inset #6a9720 0 0 0 5px, 
    inset #83b92c 0 0 0 1px, 
    inset #e1cf5b 0 0 0 10px, 
    inset #eedc67 0 0 0 11px, 
    inset #eedc67 0 0 0 16px, 
    inset #6da315 0 0 0 17px, 
    inset #6da315 0 0 0 21px, 
    inset #6a9720 0 0 0 22px;
  text-shadow: 3px 3px 1px #8b8b8b;
}
#pcontent {
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  padding-top: 20px;
}
.firstp {
  font-size:x-large ;
  padding-top: 20px;
}
.secondp {
  font-size: x-large;
  padding-top: 20px;
}
.monkeygrid {
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 1;
  padding-top: 80px;
  padding-bottom: 50px;
}
.image1 {
  grid-column: 1;
  grid-row: 1;
  border-radius: 15px;
}
.plus {
  display: flex;
  grid-column: 2;
  grid-row: 1;
  margin: auto;
  font-size: 100px;
}
.image2 {
  grid-column: 3;
  grid-row: 1;
  border-radius: 15px;
}
.equals {
  grid-column: 4;
  grid-row: 1;
  margin: auto;
  font-size: 100px;
}
.image3 {
  grid-column: 5;
  grid-row: 1;
  border-radius: 15px;
}
.galleryheader h1 {
  padding-bottom: 50px;
}
#gallery {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;

}
.img1 {
  display: flex;
  grid-column: 2;
  grid-row: 1;
  margin: auto;
  border-radius: 15px;
}
.img2 {
  grid-column: 1;
  grid-row: 1;
  border-radius: 15px;
}
.img3 {
  grid-column: 3;
  grid-row: 1;
  border-radius: 15px;
}
.redbanana1 {
  align-content: right;
  border-radius: 15px;
  margin-top: 20px;
}
.burro {
  margin-bottom: -50px;
}
.happymonkey2 {
  margin-top: -70px;
}
.homegrid {
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
  background-color: #fff59e;
  padding-top: 50px;
  border: 50px solid #fff59e;
  border-style: solid;
  border-color: #c9c17a;
  border-radius: 15px;
  border-width: 15px;
}
.homegrid a {
  font-weight: 600;
  border-radius: 15px;
}
.typesbutton {
  grid-template-columns: 2/2;
  text-decoration: none;
  color: #4C2E05;
  font-size: xx-large;
  border-radius: 15px;
}
.monkeysbutton {
  grid-template-columns: 1/2;
  text-decoration: none;
  color: #4C2E05;
  font-size: xx-large;
}
.redbanana {
  margin-bottom: 110px;
  padding-top: 80px;
}
footer {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--nav-link-color);
  margin-top: 150px;
  border-radius: 15px;
}
.footernav {
  padding-top: 50px;
  align-items: center;
  color: #4C2E05;
  background-color: #f4d504;
  justify-content: space-around;
  font-size:x-large;
  padding: 10px;
  border-radius: 5px;
}
.footernav p {
  color: black;
  font-size: small;
}
.footernav a {
  color: black;
}
.social {
  padding: 10px;
}

.sitemap {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
.logo {
    width: 100%;
}
.background {
  background-color: #699720ba;
}
.navlogo {
  border-radius: 5px;
}
#home, #types, #monkeys, #siteplan2, #contactus2, #monkeys2 {
  color: black;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}